*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  /* background-color: rgba(255, 0, 0, .2); */
  border: 2px dotted black;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
  background-color: #add8e6;
}

.container.top{
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 600px;
  padding: 5px;
  background-color: #daa520;
}

.logo{
  width: 100px;
}
.menu{
  width: 400px;
  text-align: center;
}
.login{
  width: 100px;
  text-align: right;
}